{% extends 'base.html.twig' %}

{% block title %}Register - Gamer's Market{% endblock %}

{% block body %}
    <main class="login-page">
        <div class="login-container">
            <h2 class="login-title">Register</h2>

            {{ form_start(registrationForm, {'attr': {'class': 'login-form'}}) }}

            <div class="form-group">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Introdu email'}}) }}
                {{ form_errors(registrationForm.email) }}
            </div>

            <div class="form-group">
                {{ form_label(registrationForm.password) }}
                {{ form_widget(registrationForm.password, {'attr': {'placeholder': 'Introdu parola'}}) }}
                {{ form_errors(registrationForm.password) }}
            </div>


            <button type="submit" class="btn login-btn">
                <i class="fas fa-user-plus me-2"></i>Register
            </button>

            {{ form_end(registrationForm, {'render_rest': false}) }}

            <p class="signup-text">Ti-ai amintit parola? <a href="{{ path('login') }}">Logeaza-te aici</a></p>
        </div>
    </main>
{% endblock %}

